.wrapperSideBar {
    background-color: #ED1260;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    /* width: 13%; */
    position: relative;
}

.SideBarLogo {
    max-width: 183px;
    max-height: 34px;
    margin-top: 53px;
}

.wrapperNavlink {
    width: 100%;
    margin-top: 30%;
}

.Navlink {
    display: flex;
    color: white;
}
.Navlink.dropdown {
    justify-content: space-between;
}

a.Navlink {
    text-decoration: none;
}

.textNavlink {
    margin-left: 5px;
    font-family: "Lato-Medium";
    font-size: 14;
}

.wrapperSideBar .fixed {
    /* position: fixed; */
}